node_modules/
.next/
out/
coverage/
.env
.env.local
.env.*.local
npm-debug.log*
*.tsbuildinfo
.DS_Store

.vercel
.env*
audio-end-of-term-test-1-semester-2-mp3cutnet*.mp3
de-thi-hoc-ki-2-tieng-anh-2-global-success-de-so-1-*.pdf
.audio-upload-temp/
.pdf-preview/
